# Ignore everything
/*

# Except the following directories and files
!/.gitignore

# Ignore everything else in these directories
/html/*
/html/wp-content/*
/html/wp-content/themes/*
/html/wp-content/themes/ailurotech/node_modules

# Allow only specific directory
!/html/
!/html/wp-content/
!/html/wp-content/themes/
!/html/wp-content/themes/ailurotech/
!ailurotech/node_modules/



# Exclude node_modules
/html/wp-content/themes/ailurotech/node_modules/
/html/wp-content/themes/ailurotech/dist/