.footer-content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Creates four equal columns */
    gap: 20px;  /* Optional: Adjusts the gap between columns */
}

.footer-icons {
    width: auto;  /* Makes images fill their container */
    height: 2rem;  /* Maintains aspect ratio of images */
}


.footer-links{
    color: #897AE3;
    margin-bottom: 30px;
}
.footer-links:hover {
    color: darkblue; /* 悬停时的颜色 */
}

.column-title{
    color:#3E4265;
    margin-bottom: 40px;
}