.carousel-section {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to top,
    #F4F6FA 0%,
    #F4F6FA 50%,
    background-color 50%,
    background-color 100%
  );
}

.main-carousel {
  height: auto;
  margin-top: 10%;
}

.carousel-cell {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  counter-increment: gallery-cell;
}

.carousel-title-details {
  color: rgba(105, 111, 140, 1);
}

.carousel-title {
  font-size: 15px;
}

.carousel-image {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.carousel-image-container {
  word-break: break-word;
}

.carousel-details-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.carousel-details-title-details {
  color: rgba(105, 111, 140, 1);
}

.carousel-bottom {
  height: auto;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
  margin-bottom: 10%;
}

.carousel-bottom-details-container {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  display: grid;
  column-gap: max(1vw, 13px);
}

.carousel-circle {
  width: 5vw;
  height: 5vw;
  min-width: 40px;
  min-height: 40px;
  background: rgba(51, 102, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-circle-number {
  font-size: 18px;
  color: white;
}

.carousel-circle-container {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.carousel-bottom-title-container {
  grid-column: 2;
  grid-row: 1;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.carousel-bottom-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.carousel-bottom-title-details {
  font-size: 1em;
  font-weight: 400;
  color: rgba(105, 111, 140, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column: 2;
  grid-row: 2;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (max-width: 700px) {
  .carousel-bottom {
      display: flex;
      flex-direction: column;
      margin-top: 0;
  }

  .carousel-cell {
      padding-left: 0;
      padding-right: 0;
      gap: 0px;
  }
}
