.subscription-page {
    text-align: center;
    padding: 60px 40px;
    background-color: #f9fafc;
  
    .toggle-buttons {
      margin: 70px 0;
      display: flex;
      justify-content: center;
      .toggle-button {
        padding: 15px 30px;
        margin: 0 5px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        background-color: #ddd;
        color: #333;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
        &.active {
          background-color: rgba(51, 102, 255, 1);
          color: #fff;
        }
      }
    }
  
    .subscription-options {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      .option {
        background-color: #fff;
        padding: 30px 20px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 30%;
        min-width: 280px;
        text-align: left; 
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }
        h2 {
          font-size: 24px;
          margin-bottom: 10px;
          color: #333;
        }
        p {
          font-size: 16px;
          color: #666;
          margin-bottom: 20px;
        }
        .price {
          font-size: 48px;
          color: black;
          font-weight: bold;
          margin-bottom: 10px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 20px 0;
          li {
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &:before {
              content: "✓";
              color: #28a745;
              margin-right: 8px;
            }
          }
        }
        .button-container {
          display: flex;
          justify-content: center; /* 确保按钮容器内的内容居中 */
          .button {
            font-size: 16px;
            display: inline-block;
            padding: 10px 100px; /* 调整padding使其符合新布局 */
            background-color: rgba(51, 102, 255, 1);
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            transition: background-color 0.3s;
            &:hover {
              background-color: rgba(41, 82, 204, 1);
            }
          }
        }
      }
    }
  }
  