.welcome-section {
  width: 100%;
  height: 60vh;
  position: relative;
}
.welcome-section-content {
  color: #fff; /* Text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 20px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw; /* 100 / (16 / 9) */
  min-height: 100vh;
  min-width: 177.78vh;  /* 100 / (9 / 16) */
  transform: translate(-50%, -50%);
  pointer-events: none;
  min-width: 1200vw;
  min-height: 100vh;
  pointer-events: none;
}

h1,
p,
a {
  position: relative;
  z-index: 1;
}
.jump-page {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.demo-link{
  display: inline;
  text-decoration: none;
  color: #fff;
}

