<div class="contact-section-bg">
	<video autoplay muted loop>
		<source src={{contact_bg_video}} type="video/mp4">
	</video>
	<div class="contact-section">
		<h1 class="contact-section-title">{{ contact_section.title }}</h1>
		<p class="contact-section-description">{{ contact_section.post_content }}</p>
		<a href="#" class="contact-section-button">Contact Us</a>
	</div</div>
