<footer>
	<div class="footer-content-container">
		<div class="footer-icon-container">
			{% for icon in links_array %}
				<img class="footer-icons" src="{{ icon }}" alt="Social Media Icon">
			{% endfor %}
		</div>
		<div class="footer-links-container">sample</div>
		<div class="footer-links-container">sample</div>
		<div class="footer-links-container">sample</div>
	</div>
</div>
<div class="container">

	<p>&copy;
		{{ "now"|date("Y") }}
		{{ site.name }}. All rights reserved.</p>
</div></footer>
