{% extends "base.twig" %}

{% block content %}
    <div class="example">This is an example text</div>
    <h1>{{post.title}}</h1>
    <h1>{{post.title}}</h1>
    <h1>{{post.title}}</h1>
    <h1>{{post.title}}</h1>
{% endblock %}
