<style>
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 创建三列 */
        grid-column-gap: 20px; /* 设置列间距 */
    }
    .column {
        padding: 10px;
        display: flex;
        flex-direction: column; /* 将列内元素垂直排列 */
    }
    .title {
    
    }
    .link {
        color: #6A5ACD; /* 蓝紫色 */
        margin-top: 10px; /* 设置上边距 */
        cursor: pointer; /* 添加手型指针，使链接看起来更具交互性 */
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var links = document.querySelectorAll('.link'); // Select all elements with class "link"
    links.forEach(function (link) {
        link.addEventListener('click', function () {
            // Add click event listener to each link
            var itemName = this.getAttribute('id'); // Get the id attribute of the clicked link
            if (itemName === 'about us') {
                // Check if the id is 'aboutus'
                window.open('https://www.google.com', '_blank'); // Open Google in a new tab
            }
        });
    });
});
</script>

<div class="container">
    {% for column in link %}
        <div class="column">
            <h2 class="title">{{ titles[loop.index0] }}</h2> <!-- 为标题设置 class="title" -->
            {% for item in column %}
                <span class="link" id="{{ item }}">{{ item }}</span> <!-- 为链接设置 class="link" -->
            {% endfor %}
        </div>
    {% endfor %}
</div>
