



<div class="container">
    {% for column in link %}
        <div class="column">
            <h2 class="title">{{ titles[loop.index0] }}</h2> <!-- 为标题设置 class="title" -->
            {% for item in column %}
                <span class="link" id="{{ item }}">{{ item }}</span> <!-- 为链接设置 class="link" -->
            {% endfor %}
        </div>
    {% endfor %}
</div>
