

<nav class="navbar">
     <img src="{{ site.theme_link }}/assets/images/logo.png" alt="Logo">
        Ailurotech
    </div>
    <ul class="navbar-menu">
        {% for item in menu.items %}
            <li class="navbar-item">
                <a href="{{ item.link }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <button class="navbar-button">Sign Up</button>
    <div class="navbar-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>
