<div class="subscription-page">
    <h1>Unleash your potential. Scale your business, increase productivity, and keep your teams connected</h1>
    <div class="toggle-buttons">
        <button id="monthly" class="toggle-button active">Pay Monthly</button>
        <button id="yearly" class="toggle-button">Pay Yearly</button>
    </div>
    <div class="subscription-options">
        {% for plan in plans %}
            {% include 'views/partial/components/subscription-option.twig' with {
                'title': plan.title,
                'description': plan.description,
                'monthly_price': plan.monthly_price,
                'yearly_price': plan.yearly_price,
                'features': plan.features,
                'button_link': plan.button_link,
                'button_text': plan.button_text
            } %}
        {% endfor %}
    </div>
</div>

