<<<<<<< HEAD

=======
<style>
.social_media{
    display: grid;
    grid-auto-flow: column; 
    gap: 10%;
}
.icon{
  
}
</style>
>>>>>>> a700318c9a60f43b0a9a1668484787c680be3d1e
<div class='social_media'> 
    {% for icon in links_array %}
        <img class="icon" src="{{ icon }}" alt="Social Media Icon">
    {% endfor %}
</div>
